.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    width: 100%;
  }

  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin: 8px;
    margin-right: 16px;
    font-size: 17px;
    
  }
  